Django
psycopg2
django-environ
https://github.com/adilkhash/django-redactor3/archive/master.zip
https://github.com/adilkhash/django-bootstrap-pagination/archive/master.zip
requests
Pillow
django-assets
cssmin
django-htmlmin
