Django==3.2.2
psycopg2==2.7.1
django-environ==0.4.2
https://github.com/adilkhash/django-redactor3/archive/master.zip
redis==2.10.5
https://github.com/adilkhash/django-bootstrap-pagination/archive/master.zip
django-redis==4.7.0
requests==2.22.0
Pillow==7.1.1
django-assets==2.0
cssmin==0.2.0
django-htmlmin==0.11.0
