Django==3.2.12
psycopg2==2.9.2
django-environ==0.8.1
https://github.com/adilkhash/django-redactor3/archive/master.zip
redis==4.0.2
https://github.com/adilkhash/django-bootstrap-pagination/archive/master.zip
requests==2.26.0
Pillow==8.4.0
django-assets==2.0
cssmin==0.2.0
django-htmlmin==0.11.0
