{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}

<div class="col-md-4">

    <div class="sidebar-widget" style="margin-top:40px;">
        <h4 class="sidebar-title">{% trans 'Search' %}</h4>
        <form action="{% url 'blog:search' %}" method="get" class="form-inline" {% if not DEBUG %}onsubmit="yaCounter32700075.reachGoal('searchBtnClick'); return true;"{% endif %}>
            <input style="width: 100%;border-radius:1px;" class="form-control" type="text" name="query"
                    {% if query %} value="{{ query }}"
                   {% else %}placeholder="{% trans 'search term' %}"{% endif %}>

            <button class="btn btn-primary btn-block"
                    style="margin-top:10px;border-radius:1px;">{% trans 'Find' %}</button>
        </form>
    </div>

    <div class="sidebar-widget">
        <h4 class="sidebar-title">{% trans 'Recent posts' %}</h4>
        <ul style="padding:0; list-style: none;">
            {% for post in recent_posts %}
                <li><a href="{% url 'blog:post' slug=post.slug %}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

</div>
