{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
{% load blog_tags %}

<div class="col-md-4">

    <div class="sidebar-widget" style="margin-top:40px;">
        <h4 class="sidebar-title">{% trans 'Search' %}</h4>
        <form action="{% url 'blog:search' %}" method="get" class="form-inline" {% if not DEBUG %}onsubmit="yaCounter32700075.reachGoal('searchBtnClick'); return true;"{% endif %}>
            <input style="width: 100%;border-radius:1px;" class="form-control" type="text" name="query"
                    {% if query %} value="{{ query }}"
                   {% else %}placeholder="{% trans 'search term' %}"{% endif %}>

            <button class="btn btn-primary btn-block"
                    style="margin-top:10px;border-radius:1px;">{% trans 'Find' %}</button>
        </form>
    </div>

    <div class="sidebar-widget">
        <h4 class="sidebar-title">{% trans 'Recent posts' %}</h4>
        <ul style="padding:0; list-style: none;">
            {% for post in recent_posts %}
                <li><a href="{% url 'blog:post' slug=post.slug %}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    {% display_jobs 3 %}

    {% if not DEBUG %}
        <div class="sidebar-widget">
            <h4 class="sidebar-title">{% trans 'Ad' %}</h4>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Sidebar -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-3273608550190378"
                 data-ad-slot="9772151654"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    {% endif %}

</div>
