{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ object.title }} {% trans 'category' %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ object.title }} {% trans 'category' %}</h1>

                {% regroup posts by created.year as groups %}

                {% for group in groups %}
                    <h3>{{ group.grouper }}</h3>
                    <ul>
                        {% for post in group.list %}
                            <li><a href="{% url 'blog:post' slug=post.slug %}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
