{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap_pagination %}
{% load blog_tags %}

{% block _head %}
{#    <link rel="alternate" href="https://khashtamov.com/ru/" hreflang="ru" />#}
{#    <link rel="alternate" href="https://khashtamov.com/en/" hreflang="en" />#}
{% endblock %}

{% block content %}
    <div class="container container-wrap" style="margin-top:30px;">
        <div class="row">
            <div class="col-md-3">
                <img src="{% static 'images/author.jpg' %}" alt="{% trans 'Adil Khashtamov' %}" title="{% trans 'Adil Khashtamov' %}">
            </div>
            <div class="col-md-7">
                <div class="author-cloud">
                    <img src="{% static 'images/arrow.jpg' %}" class="arrow-msg">
                    <div class="hello-msg">
                        <p>
                            {% blocktrans %}
Hi. My name is Adil. I am passionate about building software. This blog is a notebook of my thoughts and ideas regarding software engineering and life around it. Currently I am interested in engineering of modern web apps, machine learning and data analysis.
{% endblocktrans %}
                        </p>

                        <div class="social-btns text-right">
                            <a href="https://twitter.com/adilkhash" target="_blank" rel="nofollow noindex">
                                <i class="fab fa-twitter" style="font-size: 1.8em;" aria-hidden="true"></i>
                            </a>
                            <a href="https://github.com/adilkhash/" target="_blank" rel="nofollow noindex">
                                <i class="fab fa-github" style="font-size: 1.8em;" aria-hidden="true"></i>
                            </a>
                            <a href="https://linkedin.com/in/adylzhan-khashtamov-b0432586" target="_blank" rel="nofollow noindex">
                                <i class="fab fa-linkedin" style="font-size: 1.8em;" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="articles">
                    {% for post in object_list %}
                    <article class="post-list">
                        <h1><a href="{% url 'blog:post' slug=post.slug %}">{{ post.title }}</a></h1>
                        <div class="article-meta">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            <span>{{ post.created|date:"j N o" }}</span>, <a href="{% url 'blog:category' slug=post.category.slug %}">{{ post.category.title }}</a>
                            {% if user.is_superuser %}
                                <span><a href="{{ post.get_admin_url }}">{% trans 'Edit' %}</a></span>
                                {% if post.status == post.DRAFT %}
                                    <span style="color: red;">{% trans 'Draft' %}</span>
                                {% endif %}
                            {% endif %}
                        </div>
                        {{ post.text|text_preview|safe }}<a href="{% url 'blog:post' slug=post.slug %}">{% trans 'read more' %}</a>
                    </article>
                    {% endfor %}
                </div>
            </div>

            {% include 'blog/_sidebar.html' %}
        </div>

        <div class="row">
            <div class="col-md-12">
                {% bootstrap_paginate page_obj %}
            </div>
        </div>
    </div>

{% endblock %}
