{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap_pagination %}

{% block content %}
    <div class="container" style="margin-top:30px;">
        <div class="row">
            <div class="col-md-3">
                <img src="{% static 'images/author.jpg' %}" alt="Адиль Хаштамов" title="Адиль Хаштамов">
            </div>
            <div class="col-md-7">
                <div class="author-cloud">
                    <img src="{% static 'images/arrow.jpg' %}" class="arrow-msg">
                    <div class="hello-msg">
                        <p>{% blocktrans %}Привет! Меня зовут Адиль. Всю свою сознательную жизнь я
                            занимаюсь разработкой программного обеспечения.
                            Этот блог моя записная книжка, где я стараюсь как можно чаще делать
                            заметки на тему программирования, разработки и проектирования ПО, но
                            бывает и отхожу от темы.{% endblocktrans %}
                        </p>

                        <div class="social-btns text-right">
                            <p style="background: url('{% static 'images/social.jpg' %}') 0px 0;height:15px;width:20px;"></p>
                            <p style="background: url('{% static 'images/social.jpg' %}') -22px 0;height:15px;width:20px;"></p>
                            <p style="background: url('{% static 'images/social.jpg' %}') -46px 0;height:15px;width:20px;"></p>
                            <p style="background: url('{% static 'images/social.jpg' %}') -63px 0;height:15px;width:20px;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div class="articles">
                    {% for post in object_list %}
                    <article class="post-list">
                        <h1><a href="{% url 'blog:post' slug=post.slug %}">{{ post.title }}</a></h1>
                        <div class="article-meta">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <span>{{ post.created|date:"j N o" }}</span>, <a href="{% url 'blog:category' slug=post.category.slug %}">{{ post.category.title }}</a>
                        </div>
                        {{ post.text|safe|truncatewords:"110" }}
                    </article>
                    {% endfor %}
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% bootstrap_paginate page_obj %}
            </div>
        </div>
    </div>

{% endblock %}
