{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ object.title }}{% endblock %}
{% load blog_tags %}
{% load adsense_tags %}
{% block meta_description %}
    {{ object.text|striptags|truncatechars:200|erase_breaks }}{% endblock %}
{% get_current_language as LANGUAGE_CODE %}

{% block _head %}
    {% if alternate_posts %}
        {% for post in alternate_posts %}
            <link rel="alternate"
                  href="https://khashtamov.com{{ post.alternate_post.get_absolute_url }}"
                  hreflang="{{ post.lang }}"/>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container container-wrap">
        <div class="row">
            <div class="col-md-8">
                <article>
                    <h1>{{ object.title }}</h1>
                    <div class="article-meta">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        <span>{{ object.created|date:"j N o" }}</span>, <a
                            href="{% url 'blog:category' slug=object.category.slug %}">{{ object.category.title }}</a>,
                        <span>{{ object.page_views }} {% trans 'views' %},</span>

                            {% if alternate_posts %}
                                {% for post in alternate_posts %}
                                <span>
                                    <img style="width: 16px;height: 16px;" src="{% if post.lang == 'en' %}{% static 'images/us-flag.png' %}{% else %}{% static 'images/ru-flag.png' %}{% endif %}">&nbsp;
                                    <a href="{{ post.alternate_post.get_absolute_url }}" target="_blank">
                                        {{ post.alternate_post }}
                                    </a>
                                </span>
                                {% endfor %}
                            {% endif %}

                        {% if user.is_superuser %}
                            <span>
                                <a href="{{ object.get_admin_url }}">{% trans 'Edit' %}</a>
                            </span>
                            {% if post.status == post.DRAFT %}
                                <span style="color: red;">{% trans 'Draft' %}</span>
                            {% endif %}
                        {% endif %}
                    </div>
                    {{ object.text|safe }}
                </article>

            <div id="disqus_thread" style="margin-top:15px;"></div>
            <script>
                var disqus_config = function () {
                    this.page.url = 'https://khashtamov.com{{ object.get_absolute_url }}';
                    this.page.identifier = '{{ object.get_absolute_url }}-{{ object.id }}';
                };
                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://khashtamov.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                powered by Disqus.</a></noscript>

                {% if related_articles %}
                    <div class="row">
                        <div class="col-md-12">
                            <h2>{% trans 'Related posts' %}:</h2>
                            <ul>
                                {% for related_article in related_articles %}
                                    <li>
                                        <a href="{% url 'blog:post' slug=related_article.slug %}">{{ related_article.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% include 'blog/_sidebar.html' %}
        </div>
    </div>
{% endblock %}
