{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load blog_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
    {% blocktrans %}Results for «{{ query }}»{% endblocktrans %}
{% endblock %}

{% block content %}
    <div class="container container-wrap">
        <div class="row">
            <div class="col-md-12">
                {% if not results %}
                    <h1>{% trans 'No articles found' %}</h1>
                {% else %}
                    <span style="color: #9b9b9b;display:block;margin-top:15px;">{% trans 'Articles found' %}: {{ results|length }}</span>
                    {% for post in results %}
                        <article>
                            <h1><a href="{% url 'blog:post' slug=post.slug %}">{{ post.title }}</a></h1>
                            <div class="article-meta">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                <span>{{ post.created|date:"j N o" }}</span>, <a
                                    href="{% url 'blog:category' slug=post.category.slug %}">{{ post.category.title }}</a>,
                                <span>{{ post.page_views }} {% trans 'views' %}</span>
                            </div>
                        </article>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
