{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Персональный блог Адиля Хаштамов — программист прагматик{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/monokai-sublime.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>

<body>
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item" href="{% url 'blog:posts' %}">{% trans 'Blog' %}</a>
                <a class="blog-nav-item" href="#">{% trans 'Archive' %}</a>
                <a class="blog-nav-item" href="#">{% trans 'Contacts' %}</a>
                {% if LANGUAGE_CODE == 'ru' %}
                    <a class="blog-nav-item" href="/en/">{% trans 'In English' %}</a>
                {% else %}
                    <a class="blog-nav-item" href="/ru/">{% trans 'In Russian' %}</a>
                {% endif %}
            </nav>
        </div>
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>
