{% load i18n %}
{% load static %}
{% load assets %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% if not DEBUG %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72123410-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-72123410-1');
    </script>
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% spaceless %}{% block meta_description %}{% trans 'Software engineer personal blog. Usually write about building web apps, machine learning and data analysis' %}{% endblock %}{% endspaceless %}" />
    <meta name="google-site-verification" content="2oW122oyzuORLWrpVhZ29-2w0dTvpjiEL922qCuSa5M" />
    <title>{% block title %}{% trans "Adil Khashtamov's personal blog — pragmatic programmer" %}{% endblock %}</title>
    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <link href="{% static 'images/icon.png' %}" rel="shortcut icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">
{% block _head %}
{% endblock %}
</head>

<body>
    <div class="blog-masthead">
        <div class="container container-wrap">
            <div role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="collapse-menu" style="padding:0;">
                <ul class="menu__navigation">
                    <li><a class="blog-nav-item" href="{% url 'blog:posts' %}">{% trans 'Blog' %}</a></li>
                    <li><a class="blog-nav-item" href="{% url 'blog:archives' %}">{% trans 'Archives' %}</a></li>
                    <li><a class="blog-nav-item" href="{% url 'blog:page' slug='contacts' %}">{% trans 'Contacts' %}</a></li>
                    <li>
                        {% if LANGUAGE_CODE == 'ru' %}
                            <a class="blog-nav-item" href="/en/"><img src="{% static 'images/us-flag.png' %}" alt="In English" title="English version"></a>
                        {% else %}
                            <a class="blog-nav-item" href="/ru/"><img src="{% static 'images/ru-flag.png' %}" alt="На русском" title="Версия на русском"></a>
                        {% endif %}
                    </li>
                    {% if user.is_superuser %}
                        <li><a class="blog-nav-item" href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    </div>

    {% block content %}
    {% endblock %}

    <!--footer-->
    <div class="container container-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="footer" style="padding-bottom: 20px;padding-top:20px;">
                    <p><span style="font-size: .8em;color:#9b9b9b;">{% trans 'Powered by' %} Django {{ DJANGO_VERSION }} & Python {{ PYTHON_VERSION }} @ <a href="https://goo.gl/Yp6mKz" rel="nofollow noindex" target="_blank">DigitalOcean</a> © 2015 — {% now 'Y' %}</span></p>
                </div>
            </div>
        </div>
    </div>

{% block _bottom %}{% endblock %}
    {% if not DEBUG %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter32700075 = new Ya.Metrika({
                        id:32700075,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/32700075" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
{% endif %}
    {% assets "js_all" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
