body {
    font-family: "PT Serif", serif;
    background-color: #fff;
    color: #000;
    line-height: 2em;
}

p {
    font-size: 1.25em;
}

.blog-masthead {
  background-color: #000;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  font-weight: 500;
  color: #cdddeb;
  font-size: 1.3em;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

div.article-meta {
    margin-bottom: 10px;
}

.star-ratings-rating-stars-container {
    vertical-align: bottom;
}

.article-meta span {
    color: #9b9b9b;
}

div.hello-msg {
    background-color: #f6f6f6;
    padding: 15px;
    margin-top: -29px;
}

img.arrow-msg {
    position: relative;
    top: 100px;
    left: -14px;
}


div.social-btns  a{
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
    color:#000;
}

article.post-list {
    margin-bottom: 90px;
}
div.articles {
    margin-top: 40px;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

div.subscription {
    background-color: #f5f5f1;
    border: 1px #b9baba solid;
    border-radius: 2px;
    padding: 10px;
}

div.tchannel-info {
    background-color: #f6f6f6;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}


button.search-btn {
    border: none;
    background: transparent;
    position: absolute;
    margin-left: 150px;
    padding-top: 4px;
    /*top: 23%;*/
    /*right: 30px;*/
    /*padding: 0;*/
    height: 16px;
    width: 16px;
    font-size: 16px;
    outline: none;
}

ul.menu__navigation {
    padding: 0;
}

ul.menu__navigation li {
    list-style: none;
    font-size: 1.05em;
}

ul.menu__navigation li a {
    color: #f5f5f1;
}
@media (min-width: 768px) {
    ul.menu__navigation li {
        display: inline-block;
        padding-right: 10px;
    }
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.sidebar-widget {
    border: 1px solid #ebebeb;
    padding: 25px;
    margin-bottom: 20px;
}

h4.sidebar-title {
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 21px;
    padding-bottom: 7px;
}

@media (min-width: 1200px) {
    .container-wrap {
        width: 1200px;
    }
}

.tlgr-info {
    padding: 10px;
    border: 1px #b9baba solid;
    background-color: #f9ffc6;
}

a.job {
    color: #499402;
}

span.job-company {
    font-size: 1.1em;
    font-weight: bold;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
}