{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Курс по Data Engineering: построение дата-пайплайнов на Luigi и Python</title>

    <style>
        body {
            font-size: 1.1rem;
        }

        div.course-module {
            margin-bottom: 30px;
        }

        .container {
            max-width: 960px;
        }

        .vue {
            background-color: #53C09D;
            color: #fff;
        }

        .block {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        h2.block-title {
            margin-bottom: 30px;
        }

        .bg-image {
            background-image: url('{% static 'courses/images/bgimage.jpg' %}');
            color: #fff;
            background-size: 140%;
            background-repeat: no-repeat;
            background-position: 48% 31%;
        }

        img.tech-logo {
            width: 65px;
            height: 65px;
        }
    </style>

</head>

<body>

    <div class="container-fluid">
        <!-- шапка -->
        <div class="row bg-image">
            <div class="col-md-12">
                <div class="container">
                    <div class="row block">
                        <div class="col-md-7">
                            <h1>Строим дата-пайплайны на Luigi и Python</h1>
                            <p>
                                Хватит изобретать свои велосипеды и сражаться с ветряными мельницами. Пора изучать
                                лучшие практики
                                индустрии в построении надёжных и гибких дата-пайплайнов в экосистеме языка Python.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Описание -->
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="row block">
                        <div class="col-md-12">
                            <h2 class="text-center block-title">Дата-пайплайны</h2>
                            <p>Если ваши задачи так или иначе связаны с данными, то наверняка вам приходилось писать
                                множество скриптов на коленке для выгрузки данных, их обработки и последующей укладки в
                                хранилище. Например, перед вами стоит задача скачать датасет из внешнего сервиса,
                                почистить его и обогатить данные, а полученный результат переложить в базу, например,
                                PostgreSQL. </p>
                            <p>Со временем формируются регулярные задачи, которые необходимо запускать периодически,
                                между ними появляются зависимости, и вероятность выхода из строя любой из них только
                                увеличивается. Задачи растут, и если не менять подход, то проблемы будут напоминать
                                снежный ком, катящийся с горы.</p>
                            <p>К счастью, ваши проблемы не уникальны и есть готовые и проверенные решения для построения
                                эффективных дата-пайплайнов. В этом курсе я расскажу о тонкостях работы с таким
                                инструментом как Luigi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Для кого курс -->
        <div class="row" style="background-color:#f5f5f5;">
            <div class="col-md-12">
                <div class="container">
                    <div class="row block">
                        <div class="col-md-12">
                            <h2 class="text-center block-title">Что такое Luigi</h2>
                            <p>
                                Luigi это небольшой фреймворк, написанный на Python для построения процесса выполнения
                                зависимых задач. Если перед вами стоит задача, которую можно разделить на этапы или шаги
                                и между ними есть зависимость, то Luigi поможет. Представим ситуацию, что вам необходимо
                                скачать изображение, добавить водяной знак и загрузить обратно. В реалиях Luigi это
                                бьётся на 3 таска:
                            </p>

                            <ol>
                                <li>
                                    Скачивание изображения с внешнего источника
                                </li>
                                <li>
                                    Добавление водяного знака
                                </li>
                                <li>
                                    Загрузка изображения
                                </li>

                            </ol>

                            <p>
                                Выполнение третьего этапа невозможно без успешного выполнения двух предыдущих. А что
                                если на втором или третьем этапе произошла ошибка? Нужно ли запускать процесс сначала?
                                Если вы используете Luigi, то ответ “нет”.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Для кого предназначен курс -->
        <div class="row vue">
            <div class="col-md-12">
                <div class="container">
                    <div class="row block">
                        <div class="col-md-12">
                            <h2 class="text-center block-title">Для кого предназначен курс</h2>
                            <p>
                                Программа курса предназначена для backend и data инженеров в обязанности которых входят
                                задачи по работе с данными. Для понимания программы студент должен иметь опыт
                                программирования на Python.
                                Опыт работы с реляционными базами данных приветствуется (MySQL, PostgreSQL), но
                                необязателен.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Что изучают на курсе -->
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="row block">
                        <div class="col-md-12">
                            <h2 class="text-center block-title">Что изучают на курсе</h2>
                            <p>
                                Это один из первых курсов из планируемой в будущем специализации по data engineering. В
                                этом курсе я расскажу как можно эффективно строить пайплайны данных, используя Luigi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Технологии в курсе -->
        <div class="row" style="background-color:#f5f5f5;">
            <div class="col-md-12">
                <div class="container">
                    <div class="row block">
                        <div class="col-md-12">
                            <h2 class="text-center block-title">Технологии курса</h2>
                            <div class="row">

                                <div class="col-md-3 text-center">
                                    <img class="tech-logo" src="{% static 'courses/images/logo_python.png' %}" alt="">
                                    <p>Python 3</p>
                                </div>
                                <div class="col-md-3 text-center">
                                    <img class="tech-logo" src="{% static 'courses/images/logo_docker.png' %}" style="width:90px;">
                                    <p>Docker</p>
                                </div>
                                <div class="col-md-3 text-center">
                                    <img class="tech-logo" src="{% static 'courses/images/logo_do.png' %}" alt="DigitalOcean">
                                    <p>DigitalOcean</p>
                                </div>
                                <div class="col-md-3 text-center">
                                    <img class="tech-logo" src="{% static 'courses/images/luigi-logo.png' %}" style="width:50%;height:60%;"
                                        alt="Luigi">
                                    <p>Luigi</p>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Предзаказ -->
        <div class="row vue">
            <div class="col-md-12">
                <div class="container">
                    <div class="row block">
                        <div class="col-md-12">

                            <div style="background: #ff3860;padding:40px;">
                                <p>Курс находится на стадии разработки, поэтому есть уникальная возможность
                                    сделать его предзаказ всего за <span style="font-weight: bold;font-size: 1.3rem;">690 рублей</span>. У участников предзаказа будет возможность получать доступ
                                    к урокам по мере их выхода. Оповещения будут приходить на почту.
                                </p>

                                <p>Предзаказ открыт для первых 100 оплаченных заказов.</p>

                                <form action="{% url 'courses:luigi-create-invoice' %}" method="post" class="form-inline">
                                    {% csrf_token %}
                                    <div class="form-group mb-2">
                                        <label for="staticEmail" class="col-sm-3 col-form-label">Электронная почта</label>
                                        <div class="col-sm-9">
                                            <input style="background: #fff;border-color: #dbdbdb;" type="email"
                                                class="form-control-plaintext" id="email" name="email" value="" placeholder="Введите адрес эл.почты">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-warning mb-2"><strong>Заказать</strong></button>
                                </form>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Автор -->
        <div class="row" style="background-color:#fff;">
            <div class="col-md-12">
                <div class="container">
                    <div class="row block">
                        <div class="col-md-12">
                            <h2 class="text-center block-title">Об авторе</h2>
                            <div class="row">
                                <div class="col-md-3 col-xs-12">
                                    <img src="{% static 'courses/images/adil.jpg' %}" alt="" style="border-radius: 50%;">
                                </div>
                                <div class="col-md-8 col-xs-12">
                                    <p>
                                        Меня зовут Адиль Хаштамов, и я пишу код вот уже 17 лет. Веб-разработкой на
                                        Python
                                        активно занимаюсь с 2011 года. Был техническим со-основателем успешного travel
                                        стартапа,
                                        веду блог <a href="https://khashtamov.com" target="_blank">khashtamov.com</a>.
                                        Сейчас работаю техлидом в компании Playrix Games, веду ряд
                                        своих мелких сайд-проектов, включая агрегатор 
                                        удалённых ваканий <a href="https://remotelist.ru" target="_blank">remotelist.ru</a> 
                                        и телеграм-канал <a href="https://t.me/devbrain" target="_blank">@devbrain</a>.

                                        Последние 3 года активно решаю задачи, связанные с обработкой и анализом данных, построением
                                        дата-инфраструктуры.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Программа курса -->
        <div class="row block" style="background-color: #f5f5f5;">
            <div class="col-md-12">
                <div class="container">
                    <div class="row block">
                        <div class="col-md-12">
                            <h2 class="text-center block-title">Программа курса</h2>

                            <div class="course-module">
                                <h3 style="font-weight: bold;">Что такое дата-пайплайн</h3>
                                <ul>
                                    <li>Какие существуют подходы к построению дата-пайплайнов</li>
                                    <li>В чем недостатки “скриптов на коленке”</li>
                                </ul>
                            </div>

                            <div class="course-module">
                                <h3 style="font-weight: bold;">Обзор Luigi</h3>
                                <ul>
                                    <li>
                                        Как Luigi решает проблему построения дата-пайплайнов
                                    </li>
                                    <li>
                                        Установка Luigi в виртуальное окружение
                                    </li>
                                    <li>
                                        Пишем первые задачи для запуска
                                    </li>
                                    <li>
                                        Обзор шедулера luigid
                                    </li>
                                </ul>

                            </div>

                            <div class="course-module">
                                <h3 style="font-weight: bold;">Продвинутое использование Luigi</h3>
                                <ul>
                                    <li>
                                        Разбираем тонкости конфига планировщика и воркеров

                                    </li>
                                    <li>
                                        Настраиваем стандартный мониторинг выполнения задач

                                    </li>
                                    <li>
                                        Пишем отправку уведомлений в Telegram и Slack

                                    </li>
                                </ul>
                            </div>

                            <div class="course-module">
                                <h3 style="font-weight: bold;">Деплой на продакшен</h3>
                                <ul>
                                    <li>
                                        Luigi в Docker
                                    </li>
                                    <li>
                                        Запуск Luigi в Amazon Web Services на Fargate
                                    </li>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>